* {
    margin:0;
    
   
    text-align: center;
    color:#fff;
}

body {
    
   
    background-image: url('image/starfall-gif-29.gif');
    box-sizing:border-box;
    font-family:Playfair Display;
    
}

.container {
   
    border-radius: 5px;
    border: 2px solid rgb(186, 181, 181);
    background-color:rgb(0, 0, 0) ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:40px 0 0 350px;
    height:500px;
    width:700px;
    perspective: 1000px;
    transition: transform 2.5s;
    transform-style:preserve-3d;
 
    
}

.btn {
    display:inline-block;
    border-radius: 5px;
    
    background-color: #010101;
    color:#fff;
    
    padding:2px 0;
    height:45px;
    width:130px;
    cursor:pointer;

}
.btn.about{
    background-color: #0303c8;
}
.btn:hover {
    transform:scale(0.9);
}


h3 {
    margin:10px 0;
}
.mypic {
    width:170px;
    height:160px;
    position:absolute;
    top:60px;
    left:80px;
    border-radius: 50%;
    
}

h1 ,p {
    position:absolute;
    z-index:1;
}

h1 {
   margin:70px 50px;
   font-size :50px;
   animation:SildeInWithTop 1s ease-out; 
}


.word2 {
    border-right:solid 3px rgba(0,255,0,0.75);
    white-space:nowrap;
    overflow:hidden;
    font-size:28px;
    color:rgba(255,255,255,0.75);
    position:absolute;
    margin-top:280px;
    margin-left:120px;
    animation:animated-text 3s steps(29,end) 1s infinite normal both ,
    animated-cursor 600ms steps(29,end) infinite;
}





.buttons {
    width: 700px;
    margin:20px 0 0 350px;
   
}

a{
    font-size: 20px;
    
    display:block;
    margin:20px;
    text-align:start;
    text-decoration:none;

}
.circle-wrap {
    width:100px;
    height:100px;
    
    border-radius:50%;
    border:1rem solid palegreen;
    box-shadow:inset 0 0 7px grey;
    border-left-color:palegreen;
    border-top-color:chartreuse;
    border-right-color:darkgreen;
    border-bottom-color: whitesmoke;
    
   
    margin:40px 60px;
    box-sizing:border-box;
    animation:SildeInWithTop 1s ease-out;
}
.circle-value {
    text-align: center;
    position: relative;
    top:25px;
    animation:SildeInWithLeft 1s ease-in;
}

.label {
    position:relative;
    text-align: center;
    top:85px;
    animation:SildeInWithRight 1s ease-in;
}

.circle-wrap:nth-child(2),
.circle-wrap:nth-child(3),
.circle-wrap:nth-child(5),
.circle-wrap:nth-child(6) {
   
    border-left-color:palegreen;
    border-top-color:chartreuse;
    border-right-color:whitesmoke;
    border-bottom-color: whitesmoke;
}
.grid {
    display:grid;
    gap: 10px;
    row-gap: 70px;
    grid-template-columns: repeat(3,1fr);
}
.grid-4 {
    display:grid;
    gap: 60px;
    
    grid-template-columns: repeat(4,1fr);
}
.flip {
    width:500px;
    height:70px;
    position: absolute;
    font-size: 38px;
    margin-top:180px;
    margin-left:40px;
    
    overflow:hidden;
    animation:SildeInWithTop 1s ease-out; 
}

.flip > div >div {
    color:#fff;
    
    padding:2px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
}
.flip div:first-child {
    animation:show 5s linear infinite;
}
.flip div div {
    background: #13c316;
}
.flip div:first-child div {
    background: #42c58a;
}
.flip div:last-child div {
    background: #DC143C;
}
i {
   
    margin:0 20px;
    
}

.icons:hover {
    color:#3b3bfc;
}
.project-photo{
    height:120px;
    width:120px;
    border-radius: 2%;
    border:2px solid whitesmoke;
    
    margin-top:35px;
    margin-left:40px;
    cursor:pointer;
    animation:SildeInWithTop 1s ease-out;
}
.project-photo:hover {
    transform:translateY(-20px);
}
.project-p {
    width:170px;
    height:100px;
    margin-top:35px;
    margin-left:40px;
    animation:SildeInWithRight 1s ease-out;
}
.project-p:hover {
    color:#3b3bfc;
}
.project-link {
    
    height:120px;
    width:120px;
}
.social {
    width:350px;
    height:250px;
    margin:150px 100px;
    animation:SildeInWithTop 1s ease-out;
}

@keyframes animated-text {
    from {width:0;}
    to {width:420px}
}

@keyframes animated-cursor {
    from {
        border-right-color: rgba(0,255,0,0.75);
    }
    to{
        border-right-color: transparent;
    }
}
@keyframes show {
    0%{
        margin-top:-270px;
    }
    5%{
        margin-top:-180px;
    }
    33%{
        margin-top:-180px;
    }
    38%{
        margin-top:-90px;
    }
    66%{
        margin-top:-90px;
    }
    71%{
        margin-top:0px;
    }
    99.99%{
        margin-top:0px;
    }
    100%{
        margin-top:-270px;
    }
   }
   @keyframes SildeInWithLeft {
    0% {
      transform :translateX(-100%);
    }
    100% {
      transform:translateX(0);
    }
  }
  
  
  @keyframes SildeInWithRight {
    0% {
      transform :translateX(100%);
    }
    100% {
      transform:translateX(0);
    }
  }
  
  
  @keyframes SildeInWithTop {
    0% {
      transform :translateY(-100%);
    }
    100% {
      transform:translateX(0);
    }
  }
  
  
  @keyframes SildeInWithBottom {
    0% {
      transform :translateY(100%);
    }
    100% {
      transform:translateX(0);
    }
  }
  @media  only screen and (min-width: 500px) and (max-width: 960px){
    h1 {
        margin:70px 30px;
        font-size :30px;
        animation:SildeInWithTop 1s ease-out; 
     }
     .buttons {
        margin:20px 35px;
        width:700px;
     }
    .btn {
        font-size: 15px;
        
        padding:5px 1px;
        
        width:130px;
        
    
    }
    .container{
        height:730px;
        width:700px;
        margin:10px 35px;
    }
    .flip {
        height:60px;
        width: 250px;
        font-size: 25px;
        margin-left:25px;
        animation:SildeInWithTop 1s; 
        
    }
    .grid {
        display:grid;
        gap: 10px;
        row-gap: 70px;
        grid-template-columns: repeat(2,1fr);
    }
    .grid-4 {
        gap:55px;
       
    }
    .mypic {
        width:150px;
        height:150px;
        z-index: 1;
        position:absolute;
        top:430px;
        left:550px;
        border-radius: 50%;
        animation:SildeInWithBottom 2.5s; 

    }
    .word2 {
       
        font-size:25px;
        margin-top:280px;
        margin-left:30px;
        
    }
    .social {
        
        margin:150px 40px;
    
    }

  }

  @media only screen and (max-width: 500px){
   
    h1 {
        margin:70px 30px;
        font-size :30px;
        animation:SildeInWithTop 1s ease-out; 
     }
     .buttons {
        margin:20px 10px;
        width:450px;
     }
    .btn {
        font-size: 15px;
        
        padding:1px 0;
        
        width:80px;
        
    
    }
    .container{
        height:720px;
        width:450px;
        margin:10px 10px;
    }
    .flip {
        height:60px;
        width: 250px;
        font-size: 25px;
        margin-left:25px;
        animation:SildeInWithTop 1s; 
        
    }
    .grid {
        display:grid;
        gap: 10px;
        row-gap: 70px;
        grid-template-columns: repeat(2,1fr);
    }
    .grid-4 {
        gap:40px;
       
    }
    .mypic {
        width:150px;
        height:150px;
        z-index: 1;
        position:absolute;
        top:430px;
        left:50px;
        border-radius: 50%;
        animation:SildeInWithBottom 2.5s; 

    }
    .word2 {
       
        font-size:25px;
        margin-top:280px;
        margin-left:30px;
        
    }
    .social {
        
        margin:150px 40px;
    
    }
    
   }
